In [6]:
import pandas as pd
import numpy as np
# 依据一组key合并
#定义资料集并打印出
data1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                             'A': ['A0', 'A1', 'A2', 'A3'],
                             'B': ['B0', 'B1', 'B2', 'B3']},index=[0,1,3,4])
data2 = pd.DataFrame({'key': ['K4', 'K1', 'K2', 'K3'],
                              'C': ['C0', 'C1', 'C2', 'C3'],
                              'D': ['D0', 'D1', 'D2', 'D3']})

<h1>打印data1,data2查看</h1>

In [7]:
data1

    A   B key
0  A0  B0  K0
1  A1  B1  K1
3  A2  B2  K2
4  A3  B3  K3

In [8]:
data2

    C   D key
0  C0  D0  K4
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

# 练习merge方法

In [9]:
#依据key column合并，并打印出结果 res
res=pd.merge(data1,data2,how='right')
res

     A    B key   C   D
0   A1   B1  K1  C1  D1
1   A2   B2  K2  C2  D2
2   A3   B3  K3  C3  D3
3  NaN  NaN  K4  C0  D0