# 使用dropna删除缺失值

In [1]:
import pandas as pd
import numpy as np
# 处理丢失数据
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates, columns=['A','B','C','D'])
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
df

             A     B     C   D
2013-01-01   0   NaN   2.0   3
2013-01-02   4   5.0   NaN   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [2]:
# df1接收，去掉有 NaN 的行, 可以使用 dropna 一旦出现NaN就去除整行
df1=df.dropna(axis=0,how='any')
df1

             A     B     C   D
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [3]:
# df2接收，如果是将 NaN 的值用其他值代替, 比如代替成 0:
df2=df.fillna(value=0)
df2

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [10]:
# df3接收，判断是否有缺失数据 NaN, 为 True 表示缺失数据:
df3=df.isnull()
df3
# 整组数据中每一列的缺失值数量
df4=df3.sum()
df4
# 整组数据一共存在？缺失值
df5=df4.sum()
df5

2

In [11]:
# df4接收，判断整个数据中是否存在缺失数据
df4=np.any(df.isnull())==True
df4

True